*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, canvas{
    height: 100%;
    width: 100%;
}
body{
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
canvas{
    position: absolute;
    top: 0;
    left: 0;
}
#zoomSlider{
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    z-index: 10;
}